@model IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

@if (!Model.RecentlyAddedBooks.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Swap your old books for exciting new reads!</h1>
        <p class="lead">You have books which you will not read?</p>
        <hr class="my-4">
        <p>Create your library and exchange or give away the books that you will not read any more.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Add a book</a>
        </p>
    </div>
}

@{
    var previousSlide = Model.CurrentSlide - 1;
    if (previousSlide < 1)
    {
        previousSlide = 1;
    }

    var list = Model.RecentlyAddedBooks.Take(4);
}

<div class="mb-5"></div>
<h3 class="text-center">Newly added books</h3>
<div class="mb-5"></div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner offset-2">
        <div class="carousel-item active">
            <partial name="_BooksPartial" model="@list" />
            @{
                list = @Model.RecentlyAddedBooks.Skip(previousSlide * 4).Take(4);
                previousSlide++;
            }
        </div>
        <div class="carousel-item">
            <partial name="_BooksPartial" model="@list" />
            @{
                list = @Model.RecentlyAddedBooks.Skip(previousSlide * 4).Take(4);
                previousSlide++;
            }
        </div>
        <div class="carousel-item">
            <partial name="_BooksPartial" model="@list" />
            @{
                list = @Model.RecentlyAddedBooks.Skip(previousSlide * 4).Take(4);
                previousSlide++;
            }
        </div>
    </div>
</div>

<div class="mb-5"></div>

<div class="jumbotron">
    <div class="row">
        <h2 class="col-md-6 text-center">
            @Model.TotalBooks Books
        </h2>
        <h2 class="col-md-6 text-center">
            @Model.TotalKnizhari Knizhari
        </h2>
    </div>
</div>

